{% extends 'base.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}
    <h1>Informations sur l'auteur</h1>
    <p>Nom de l'auteur : <strong>{{ name }}</strong></p>
{% endblock %}


